<?xml version="1.0" encoding="UTF-8"?>
<!--***********************************
* @Copyright : nuritelecom
* @ProjectName : green-device-store
* @FileName : MeasurementPointMapper.xml
* @Author : kh.yoon
* @Date : 2021-01
************************************-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuri.green.device.store.mapper.AptInfoMapper">

    <sql id="base_where_list">
        <where>
            <if test="aptNo != null and aptNo != ''" >
                AND a.apt_no = #{aptNo}
            </if>

            <if test="aptNm != null and aptNm != ''" >
                AND a.apt_nm like concat(#{aptNm},'%')
            </if>

            <if test="locationId != null and locationId != ''" >
                AND a.location_id like concat(#{locationId},'%')
            </if>

        </where>
    </sql>

    <sql id="order_by_list">
        <if test="order != null" >
            <foreach collection="order" item="orderby" open="order by" index="index" separator=",">
                ${orderby.sort} ${orderby.dir}
            </foreach>
        </if>
    </sql>

    <sql id="page_limit">
        <if test="page != null " >
            LIMIT #{page.offset}, #{page.limit}
        </if>
    </sql>

    <select id="findAllByCondition" resultType="aptInfoJpo" parameterType="aptInfoJpo">
        SELECT
            a.apt_no
            , a.apt_nm
            , a.building_type
            , a.location_id
            , l.location_nm
            , a.zipcode
            , a.jibun_addr
            , a.road_addr
            , a.dong_cnt
            , a.ho_cnt
            , a.tel_no
            , a.remark
            , a.reg_id
            , DATE_FORMAT(a.reg_dt,'${prop.dt.plain}') as reg_dt
            , a.update_id
            , DATE_FORMAT(a.update_dt,'${prop.dt.plain}') as update_dt
        FROM GND_APT_INFO a
        INNER JOIN GND_LOCATION l on (a.location_id = l.location_id)
        <include refid="base_where_list" />
        <include refid="order_by_list" />
        <include refid="page_limit" />
    </select>

    <select id="count" resultType="java.lang.Integer" parameterType="aptInfoJpo">
        SELECT
        count(*) as co
        FROM GND_APT_INFO a
        <include refid="base_where_list" />
    </select>

    <select id="findById" resultType="aptInfoJpo" parameterType="java.lang.String">
        SELECT
            a.apt_no
            , a.apt_nm
            , a.building_type
            , a.location_id
            , l.location_nm
            , a.zipcode
            , a.jibun_addr
            , a.road_addr
            , a.dong_cnt
            , a.ho_cnt
            , a.tel_no
            , a.remark
            , a.reg_id
            , DATE_FORMAT(a.reg_dt,'${prop.dt.plain}') as reg_dt
            , a.update_id
            , DATE_FORMAT(a.update_dt,'${prop.dt.plain}') as update_dt
        FROM GND_APT_INFO a
        INNER JOIN GND_LOCATION l on (a.location_id = l.location_id)
        WHERE apt_no = #{aptNo}
    </select>

    <insert id="insert" parameterType="aptInfoJpo">
        INSERT INTO GND_APT_INFO (
            apt_no
            , apt_nm
            , building_type
            , apt_type
            , location_id
            , zipcode
            , jibun_addr
            , road_addr
            , dong_cnt
            , ho_cnt
            , tel_no
            , remark
            , reg_id
            , reg_dt
            , update_id
            , update_dt
        ) values (
            #{aptNo}
            , #{aptNm}
            , #{buildingType}
            , #{aptType}
            , #{locationId}
            , #{zipcode}
            , #{jibunAddr}
            , #{roadAddr}
            , #{dongCnt}
            , #{hoCnt}
            , #{telNo}
            , #{remark}
            , #{regId}
            , now()
            , #{updateId}
            , now()
        )
    </insert>

    <update id="update" parameterType="aptInfoJpo">
        UPDATE GND_APT_INFO
        <set>
            <if test="aptNm != null">apt_nm = #{aptNm}, </if>
            <if test="buildingType != null">building_type = #{buildingType}, </if>
            <if test="aptType != null">apt_type = #{aptType}, </if>
            <if test="locationId != null">location_id = #{locationId}, </if>
            <if test="zipcode != null">zipcode = #{zipcode}, </if>
            <if test="jibunAddr != null">jibun_addr = #{jibunAddr}, </if>
            <if test="roadAddr != null">road_addr = #{roadAddr}, </if>
            <if test="dongCnt != null">dong_cnt = #{dongCnt}, </if>
            <if test="hoCnt != null">ho_cnt = #{hoCnt}, </if>
            <if test="telNo != null">tel_no = #{telNo}, </if>
            <if test="remark != null">remark = #{remark}, </if>
            update_id = #{updateId},
            update_dt = now()
        </set>
        WHERE
        apt_no = #{aptNo}
    </update>

    <select id="findLocationById" resultType="aptInfoJpo" parameterType="java.lang.String">
        SELECT
            a.apt_no
            , a.apt_nm
            , a.location_id
            , l.location_nm
            , l.region_id
        FROM GND_APT_INFO a
        INNER JOIN GND_LOCATION l on (a.location_id = l.location_id)
        WHERE apt_no = #{aptNo}
    </select>

</mapper>