<?xml version="1.0" encoding="UTF-8"?>
<!--***********************************
* @Copyright : nuritelecom
* @ProjectName : green-device-store
* @FileName : MeasurementPointMapper.xml
* @Author : kh.yoon
* @Date : 2021-01
************************************-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuri.green.device.store.mapper.DeviceStatusMapper">

    <sql id="base_where_list">
        <where>
            <if test="deviceId != null and deviceId != ''" >
                AND a.device_id = #{deviceId}
            </if>
            <if test="deviceStatus != null and deviceStatus != ''" >
                AND a.device_status = #{deviceStatus}
            </if>
            <if test="deviceType != null and deviceType != ''" >
                AND d.device_type = #{deviceType}
            </if>
            <if test="deviceSerial != null and deviceSerial != ''" >
                AND d.device_serial like concat(#{deviceSerial},'%')
            </if>
        </where>
    </sql>

    <sql id="order_by_list">
        <if test="order != null" >
            <foreach collection="order" item="orderby" open="order by" index="index" separator=",">
                ${orderby.sort} ${orderby.dir}
            </foreach>
        </if>
    </sql>

    <sql id="page_limit">
        <if test="page != null " >
            LIMIT #{page.offset}, #{page.limit}
        </if>
    </sql>

    <select id="findAllByCondition" resultType="deviceStatusJpo" parameterType="deviceStatusJpo">
        SELECT
            d.device_id
            , d.device_serial
            , d.device_type
            , fnc_get_code_nm(d.device_type) as device_type_nm
            , a.device_status
            , fnc_get_code_nm(a.device_status) as device_status_nm
            , DATE_FORMAT(a.last_comm_dt,'${prop.dt.plain}') as last_comm_dt
            , DATE_FORMAT(a.reg_dt,'${prop.dt.plain}') as reg_dt
            , DATE_FORMAT(a.update_dt,'${prop.dt.plain}') as update_dt
            , a.server_id
        FROM GND_DEVICE_STATUS a
        INNER JOIN GND_DEVICE_INFO d ON (a.device_id = d.device_id)
        <include refid="base_where_list" />
        <include refid="order_by_list" />
        <include refid="page_limit" />
    </select>

    <select id="count" resultType="java.lang.Integer" parameterType="deviceStatusJpo">
        SELECT
        count(*) as co
        FROM GND_DEVICE_STATUS a
        INNER JOIN GND_DEVICE_INFO d ON (a.device_id = d.device_id)
        <include refid="base_where_list" />
    </select>

    <select id="findById" resultType="deviceStatusJpo" parameterType="java.lang.Integer">
        SELECT
            d.device_id
            , d.device_serial
            , d.device_type
            , fnc_get_code_nm(d.device_type) as device_type_nm
            , a.device_status
            , fnc_get_code_nm(a.device_status) as device_status_nm
            , DATE_FORMAT(a.last_comm_dt,'${prop.dt.plain}') as last_comm_dt
            , DATE_FORMAT(a.reg_dt,'${prop.dt.plain}') as reg_dt
            , DATE_FORMAT(a.update_dt,'${prop.dt.plain}') as update_dt
            , a.server_id
        FROM GND_DEVICE_STATUS a
        INNER JOIN GND_DEVICE_INFO d ON (a.device_id = d.device_id)
        WHERE a.device_id = #{deviceId}
    </select>

    <insert id="insert" parameterType="deviceStatusJpo">
        INSERT INTO GND_DEVICE_STATUS (
            device_id
            , device_type
            , device_status
            , last_comm_dt
            , server_id
        ) values (
            #{deviceId}
            , #{deviceType}
            , #{deviceStatus}
            , #{lastCommDt}
            , #{serverId}
        )
    </insert>

    <update id="update" parameterType="deviceStatusJpo">
        UPDATE GND_DEVICE_STATUS
        <set>
            <if test="deviceType != null">device_type = #{deviceType}, </if>
            <if test="deviceStatus != null">device_status = #{deviceStatus}, </if>
            <if test="initCommDt != null">init_comm_dt = DATE_FORMAT(#{initCommDt},'${prop.dt.plain}'), </if>
            <if test="lastCommDt != null">last_comm_dt = DATE_FORMAT(#{lastCommDt},'${prop.dt.plain}'), </if>
            <if test="lastRegDt != null">last_reg_dt = DATE_FORMAT(#{lastRegDt},'${prop.dt.plain}'), </if>
            <if test="lastReadDt != null">last_read_dt = DATE_FORMAT(#{lastReadDt},'${prop.dt.plain}'), </if>
            <if test="serverId != null">server_id = #{serverId}, </if>
        </set>
        WHERE
        device_id = #{deviceId}
    </update>

</mapper>