<?xml version="1.0" encoding="UTF-8"?>
<!--***********************************
* @Copyright : nuritelecom
* @ProjectName : green-device-store
* @FileName : MeasurementPointMapper.xml
* @Author : kh.yoon
* @Date : 2021-01
************************************-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuri.green.device.store.mapper.MeasurementPointMapper">

    <sql id="base_where_list">
        <where>
            <if test="measurementPointId != null and measurementPointId != ''">
                AND a.measurement_point_id = #{measurementPointId}
            </if>
            <if test="servicePointId != null and servicePointId != ''">
                AND a.service_point_id = #{servicePointId}
            </if>
            <if test="locationId != null and locationId != ''">
                AND apt.location_id like concat(#{locationId},'%')
            </if>
        </where>
    </sql>

    <sql id="order_by_list">
        <if test="order != null">
            <foreach collection="order" item="orderby" open="order by" index="index" separator=",">
                ${orderby.sort} ${orderby.dir}
            </foreach>
        </if>
    </sql>

    <sql id="page_limit">
        <if test="page != null ">
            LIMIT #{page.offset}, #{page.limit}
        </if>
    </sql>

    <select id="findAllByCondition" resultType="measurementPointJpo" parameterType="measurementPointJpo">
        SELECT
            a.measurement_point_id
            , a.service_point_id
            , s.service_point_nm
            , a.meter_id
            , a.meter_serial
            , s.apt_no
            , apt.apt_nm
            , l.location_id
            , l.location_nm
            , a.remark
            , a.reg_id
            , DATE_FORMAT(a.reg_dt,'${prop.dt.plain}') as reg_dt
            , a.update_id
            , DATE_FORMAT(a.update_dt,'${prop.dt.plain}') as update_dt
        FROM GND_MEASUREMENT_POINT a
        INNER JOIN GND_SERVICE_POINT s ON (a.service_point_id = s.service_point_id)
        INNER JOIN GND_APT_INFO apt ON (s.apt_no = apt.apt_no)
        INNER JOIN GND_LOCATION l ON (apt.location_id = l.location_id)
        <include refid="base_where_list"/>
        <include refid="order_by_list"/>
        <include refid="page_limit"/>
    </select>

    <select id="count" resultType="java.lang.Integer" parameterType="measurementPointJpo">
        SELECT
        count(*) as co
        FROM GND_MEASUREMENT_POINT a
        INNER JOIN GND_SERVICE_POINT s ON (a.service_point_id = s.service_point_id)
        INNER JOIN GND_APT_INFO apt ON (s.apt_no = apt.apt_no)
        INNER JOIN GND_LOCATION l ON (apt.location_id = l.location_id)
        <include refid="base_where_list"/>
    </select>

    <select id="findById" resultType="measurementPointJpo" parameterType="java.lang.Integer">
        SELECT
            a.measurement_point_id
            , a.service_point_id
            , s.service_point_nm
            , a.meter_id
            , a.meter_serial
            , s.apt_no
            , apt.apt_nm
            , l.location_id
            , l.location_nm
            , a.remark
            , a.reg_id
            , DATE_FORMAT(a.reg_dt,'${prop.dt.plain}') as reg_dt
            , a.update_id
            , DATE_FORMAT(a.update_dt,'${prop.dt.plain}') as update_dt
        FROM GND_MEASUREMENT_POINT a
        INNER JOIN GND_SERVICE_POINT s ON (a.service_point_id = s.service_point_id)
        INNER JOIN GND_APT_INFO apt ON (s.apt_no = apt.apt_no)
        INNER JOIN GND_LOCATION l ON (apt.location_id = l.location_id)
        WHERE a.measurement_point_id = #{measurementPointId}
    </select>

    <insert id="insert" parameterType="measurementPointJpo" useGeneratedKeys="true" keyProperty="measurementPointId">
        INSERT INTO GND_MEASUREMENT_POINT (
            service_point_id
            , meter_id
            , meter_serial
            , remark
            , reg_id
            , reg_dt
            , update_id
            , update_dt
        ) values (
            #{servicePointId}
            , #{meterId}
            , #{meterSerial}
            , #{remark}
            , #{regId}
            , now()
            , #{updateId}
            , now()
        )
    </insert>

    <update id="update" parameterType="measurementPointJpo">
        UPDATE GND_MEASUREMENT_POINT
        <set>
            <if test="servicePointId != null">service_point_id = #{servicePointId},</if>
            <if test="meterId != null">meter_id = #{meterId},</if>
            <if test="meterSerial != null">meter_serial = #{meterSerial},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_id = #{updateId},
            update_dt = now()
        </set>
        WHERE
        measurement_point_id = #{measurementPointId}
    </update>
</mapper>