<?xml version="1.0" encoding="UTF-8"?>
<!--***********************************
* @Copyright : nuritelecom
* @ProjectName : green-device-store
* @FileName : VendorMapper.xml
* @Author : kh.yoon
* @Date : 2021-01
************************************-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuri.green.device.store.mapper.VendorMapper">

    <sql id="base_where_list">
        <where>
            <if test="vendorSeq != null and vendorSeq != ''">
                AND a.vendor_seq = #{vendorSeq}
            </if>
            <if test="vendorCode != null and vendorCode != ''">
                AND d.vendor_code = #{vendorCode}
            </if>
            <if test="vendorNm != null and vendorNm != ''">
                AND d.vendor_nm like concat(#{vendorNm},'%')
            </if>
        </where>
    </sql>

    <sql id="order_by_list">
        <if test="order != null">
            <foreach collection="order" item="orderby" open="order by" index="index" separator=",">
                ${orderby.sort} ${orderby.dir}
            </foreach>
        </if>
    </sql>

    <sql id="page_limit">
        <if test="page != null ">
            LIMIT #{page.offset}, #{page.limit}
        </if>
    </sql>

    <select id="findAllByCondition" resultType="vendorJpo" parameterType="vendorJpo">
        SELECT
            a.vendor_seq
            , a.vendor_code
            , a.vendor_nm
            , a.remark
            , a.reg_id
            , DATE_FORMAT(a.reg_dt,'${prop.dt.plain}') as reg_dt
            , a.update_id
            , DATE_FORMAT(a.update_dt,'${prop.dt.plain}') as update_dt
        FROM GND_VENDOR_INFO a
        <include refid="base_where_list"/>
        <include refid="order_by_list"/>
        <include refid="page_limit"/>
    </select>

    <select id="count" resultType="java.lang.Integer" parameterType="vendorJpo">
        SELECT
        count(*) as co
        FROM GND_VENDOR_INFO a
        <include refid="base_where_list"/>
    </select>

    <select id="findById" resultType="vendorJpo" parameterType="java.lang.Integer">
        SELECT
        a.vendor_seq
        , a.vendor_code
        , a.vendor_nm
        , a.remark
        , a.reg_id
        , DATE_FORMAT(a.reg_dt,'${prop.dt.plain}') as reg_dt
        , a.update_id
        , DATE_FORMAT(a.update_dt,'${prop.dt.plain}') as update_dt
        FROM GND_VENDOR_INFO a
        WHERE a.vendor_seq = #{vendorSeq}
    </select>

    <insert id="insert" parameterType="vendorJpo">
        INSERT INTO GND_VENDOR_INFO (
            vendor_code
            , vendor_nm
            , remark
            , reg_id
            , reg_dt
            , update_id
            , update_dt
        ) values (
            #{vendorCode}
            , #{vendorNm}
            , #{remark}
            , #{regId}
            , now()
            , #{updateId}
            , now()
        )
    </insert>

    <update id="update" parameterType="vendorJpo">
        UPDATE GND_VENDOR_INFO
        <set>
            <if test="vendorCode != null">vendor_code = #{vendorCode},</if>
            <if test="vendorNm != null">vendor_nm = #{vendorNm},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            update_dt = now()
        </set>
        WHERE
        vendor_seq = #{vendorSeq}
    </update>
</mapper>